<template>
    <section class="user-add">
        <a href="#" data-toggle="modal" :data-target="`#${modalId}`" v-if="action === 'new'"><i class="fas fa-plus fa-2x"></i></a>
        <a href="#" data-toggle="modal" :data-target="`#${modalId}`" v-else><i class="fas fa-user-edit" ></i></a>
        <!-- Modal -->
        <div class="modal fade" :id="modalId" tabindex="-1" role="dialog"
            :aria-labelledby="`UserModalTitle${modalId}`" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" :id="`UserModalTitle${modalId}`">{{ modalTitle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="SaveUser">
                            <div class="form-group">
                                <label for="name">
                                    <span class="text-danger">*</span>
                                    Nombre
                                </label>
                                <input type="text" :class="{'form-control': true, 'is-invalid': errors.name}" id="name" v-model="name" @blur="validateErrorFields(`name`)">
                                <span class="invalid-feedback" v-if="errors.name">{{ errors.name }}</span>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    <span class="text-danger">*</span>
                                    Email
                                </label>
                                <input type="email" :class="{'form-control': true, 'is-invalid': errors.email}" id="email" v-model="email" @blur="validateErrorFields(`email`)">
                                <span class="invalid-feedback" v-if="errors.email">{{ errors.email }}</span>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    <span class="text-danger">*</span>
                                    Contraseña
                                </label>
                                <div class="input-group">
                                    <input type="text" :class="{'form-control': true, 'is-invalid': errors.password}" id="password" v-model="password" @blur="validateErrorFields(`password`)">
                                    <span class="input-group-append">
                                        <button type="button" class="btn waves-effect waves-light btn-primary" @click.prevent="fillRandomPassword">Regenerar</button>
                                    </span>
                                </div>
                                <span class="help-block">
                                    <small v-if="action === 'new'">Contraseña generada de forma automática, si se quiere una distinta se puede cambiar.</small>
                                    <small v-else>No se muestra la contraseña guardada, si se regenera, será cambiada.</small>
                                </span>
                                <span class="invalid-feedback" v-if="errors.password">{{ errors.password }}</span>
                            </div>
                            <div class="form-group" v-if="Object.keys(rolesList).length > 0">
                                <label for="role">
                                    <span class="text-danger">*</span>
                                    Rol
                                </label>
                                <select :class="{'form-control': true, 'is-invalid': errors.role}" id="role" v-model="role" @change="validateErrorFields(`role`)">
                                    <option value="">--</option>
                                    <option
                                        v-for="(role, index) in rolesList"
                                        :key="index"
                                        :value="index"
                                        >{{ role }}</option>
                                </select>
                                <span class="invalid-feedback" v-if="errors.role">{{ errors.role }}</span>
                            </div>
                            <div class="form-group" v-if="companiesList.length > 0">
                                <label for="company">
                                    Empresa
                                </label>
                                <select :class="{'form-control': true, 'is-invalid': errors.company}" id="company" v-model="company" @change="validateErrorFields(`company`)">
                                    <option value="">--</option>
                                    <option
                                        v-for="(company, index) in companiesList"
                                        :key="index"
                                        :value="company.id"
                                        >{{ company.name }}</option>
                                </select>
                                <span class="invalid-feedback" v-if="errors.company">{{ errors.company }}</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click.prevent="SaveUser">{{ modalButton }}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { ValidateEmail, GeneratePassword } from "../../libs/misc";
import UserData from "../../libs/userData";
import { EventBus } from "../../libs/EventBus";
const userData = new UserData;

const NEW_USER = 'new';

export default {
    props:{
        action: {
            type: String,
            default: 'new',
        },
        user: {
            type: Object,
        },
    },
    data() {
        return {
            name: null,
            email: null,
            password: null,
            role: null,
            company: null,
            companiesList: [],
            rolesList: [],
            errors: {},
        };
    },

    mounted() {
        this.listenEvents();
        this.fillDefaultData();
        this.loadEditValues();
    },

    computed: {
        modalId(){
            return this.action === NEW_USER ? 'newUserModal' : `userEdit${this.user.id}`;
        },
        modalTitle(){
            return this.action === NEW_USER ? 'Añadir usuario' : `Editar usuario ${this.user.name}`;
        },
        modalButton(){
            return this.action === NEW_USER ? 'Guardar' : 'Editar';
        },
    },

    methods: {  
        async SaveUser(){
            if(this.validateErrorFields() === 0){
                const callRoute = this.action === NEW_USER ? _URL.get(`user.store`) : _URL.get(`user.update`, { user_id: this.user.id });
                const callType = this.action === NEW_USER ? 'post' : 'put';
                const { data } = await axios[callType](callRoute, {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    role: this.role,
                    company: this.company,
                });

                if(data.success){
                    $(`#${this.modalId}`).modal('hide');
                    const message = this.action === NEW_USER ?
                            `El usuario fué creado correctamente con el email, ${this.email}` :
                            `El usuario con el email, ${this.email} fue editado`;
                    this.$store.dispatch('setToast', { type: 'success', title: 'newUser', message });
                    this.name = this.email = this.password = this.role = this.company = null;

                    EventBus.$emit('updatedUser', data.user);
                }
            }
        },

        validateErrorFields(field = '') {
            if(!field || field === `name`){
                if(!this.name){
                    this.$set(this.errors, `name`, `Campo requerido`);
                } else {
                    this.$delete(this.errors, `name`);
                }
            }

            if(!field || field === `password`){
                if(!this.password){
                    this.$set(this.errors, `password`, `Campo requerido`);
                } else if(this.password.length < 8) {
                    this.$set(this.errors, `password`, `La contraseña debe tener mínimo 8 caracteres`);
                } else {
                    this.$delete(this.errors, `password`);
                }
            }

            if(!field || field === `email`){
                if(!this.email){
                    this.$set(this.errors, `email`, `Campo requerido`);
                } else {
                    if(!ValidateEmail(this.email)){
                        this.$set(this.errors, `email`, `Email no válido`);
                    } else {
                        this.$delete(this.errors, `email`);
                    }
                }
            }
            
            if((!field || field === `role`) && Object.keys(this.rolesList).length > 0){
                if(!this.role){
                    this.$set(this.errors, `role`, `Campo requerido`);
                } else {
                    this.$delete(this.errors, `role`);
                }
            }

            return Object.keys(this.errors).length;
        },

        fillDefaultData(){
            this.password = GeneratePassword(25);
        },

        listenEvents(){
            EventBus.$on('companiesLoaded', () => {
                if(!userData.user.company_id){
                    this.companiesList = this.$store.getters.companies.companyList;
                } else {
                    this.company = userData.user.company_id;
                }
            });
            this.$store.subscribe((mutation, state) => {
                if(mutation.type === `setRoles`) {
                    if(Object.keys(this.$store.getters.roles).length > 1){
                        this.rolesList = this.$store.getters.roles;
                    } else {
                        this.role = Object.keys(this.$store.getters.roles)[0];
                    }
                }
            });
        },

        loadEditValues(){
            if(this.action !== NEW_USER && this.user){
                this.name = this.user.name;
                this.email = this.user.email;
                this.password = '--------';
                this.role = this.user.role;
                this.company = this.user.company_id;
            }
        },
    },
};
</script>

<style scoped>
form {
    text-align: left;
}
.fa-plus {
  color: green;
}
</style>
