<template>
  <section class="users">
    <form class="">
      <div class="form-group">
        <label class="col-md-2 control-label" for="inputName">Nombre</label>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            id="inputName"
            v-model="inputName"
            @keyup="CheckSearch"
          >
        </div>
      </div>
      <div class="form-group" v-if="!userIsCompany">
        <label class="col-sm-2 control-label">Empresa</label>
        <div class="col-sm-10">
          <select class="form-control" @change="CheckSearch" v-model="companySelected">
            <option value seleted>--</option>
            <option
              v-for="(company, index) in companiesList"
              :key="index"
              :value="company.id"
            >{{ company.name }}</option>
          </select>
        </div>
      </div>
    </form>
    <div>
      <p class="text-right">
        <user-modal key="newUser"></user-modal>
      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Empresa</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in usersList.data" :key="index" :class="{'table-danger':user.deleted_at !== null}">
            <th scope="row">
              <a href="#" @click.prevent="ChangeUserStatus(user.id)">
                <i :class="{fas:true, 'fa-door-open':user.deleted_at === null, 'fa-door-closed':user.deleted_at !== null }"></i>
              </a>
            </th>
            <td v-html="highlightSearch(user.name)"></td>
            <td>{{ user.email }}</td>
            <td>{{ (user.company !== null)?user.company.name:'' }}</td>
            <td>{{ user.role }}</td>
            <td class="table--actions"><user-modal action="edit" :user="user" :key="`user_edit_${user.id}`"></user-modal></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li :class="{'page-item':true, disabled: prevIsNull}">
            <a class="page-link" href="#" @click.prevent="GoToPage(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li
            :class="{'page-item':true, active: page === n}"
            v-for="(n, index) in usersList.last_page"
            :key="index"
          >
            <a class="page-link" href="#" @click.prevent="GoToPage(n)">{{ n }}</a>
          </li>
          <li :class="{'page-item':true, disabled: nextIsNull}">
            <a
              class="page-link"
              href="#"
              @click.prevent="GoToPage(usersList.last_page)"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</template>
<script>
import { QueryStringFromObject, HighlightSearch, GetCompanyName } from "../../libs/misc";
import { EventBus } from "../../libs/EventBus";
import UserData from "../../libs/userData";
const userData = new UserData;

const _API_URL = _URL.get("users.get");
export default {
  data() {
    return {
      usersList: [],
      companiesList: [],
      page: 1,
      name: "",
      company: "",

      //searchUser
      inputName: "",
      companySelected: ""
    };
  },

  mounted() {
    this.getPage();
    this.getCompanies();
    this.listenEvents();
    this.getRoles();
  },

  computed: {
    prevIsNull() {
      const item = this.usersList.prev_page_url;
      return typeof item === "undefined" || item === null ? true : false;
    },
    nextIsNull() {
      const item = this.usersList.next_page_url;
      return typeof item === "undefined" || item === null ? true : false;
    },
    userIsCompany() {
      return userData.user.company_id !== null;
    }
  },

  methods: {
    async getPage() {
      let query = {
        page: this.page,
        name: this.name,
        company: this.company
      };
      let { data } = await axios.get(
        `${_API_URL}?${QueryStringFromObject(query)}`
      );
      this.usersList = data.users;
    },

    async ChangeUserStatus(user_id) {
      let { data } = await axios.delete(
        _URL.get(`user.destroy`, { user_id: user_id })
      );
      const newData = this.usersList.data.map(
        r => (r.id === data.id ? data : r)
      );
      this.$set(this.usersList, "data", newData);
    },

    listenEvents(){
      EventBus.$on('updatedUser', user => {
        this.updatedUser(user);
      })
    },

    updatedUser(user){
      this.usersList.data.map( item => {
        if(item.id === user.id){
          this.$set(item, 'email', user.email);
          this.$set(item, 'name', user.name);
          this.$set(item, 'password', user.password);
          this.$set(item, 'role', user.role);
          this.$set(item, 'company_id', user.company_id);
          this.$set(item, 'company', GetCompanyName(this.companiesList, user.company_id));
        }
      });
    },

    GoToPage(page) {
      this.page = page;
      this.getPage();
    },

    async getCompanies() {
      let { data } = await axios.get(_URL.get(`companies.get`));
      this.$store.dispatch('setCompanies', {companyList: data.companies});
      EventBus.$emit('companiesLoaded');
      this.companiesList = data.companies;
    },

    async getRoles(){
      let { data } = await axios.get(_URL.get(`roles.get`));
      this.$store.dispatch('setRoles', { rolesList: data.roles });
    },

    CheckSearch() {
      this.name = this.inputName;
      this.company = this.companySelected;
      this.getPage();
    },

    highlightSearch(original) {
      return HighlightSearch(original, this.name);
    }
  }
};
</script>

<style lang="scss" scoped>
.table{
  &-danger{
    color: #333;
  }

  &--actions{
    text-align: center;
  }
}
</style>