

/* =============
   Alerts
============= */
.alert {
  position: relative;

  .alert-link {
    font-weight: 600;
  }
}

.alert-dismissable .close, .alert-dismissible .close {
  opacity: 0.9;
}

.alert-icon {
  padding-left: 50px;

  i {
    position: absolute;
    left: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    top: 0;
    line-height: 50px;
    font-size: 22px;
  }
}

.alert-success {
  color: $success;
  background-color: rgba($success, 0.2);
  border-color: rgba($success, 0.2);
  .alert-link {
    color: darken($success,10%);
  }
  hr {
    border-top-color: darken($success,10%);
  }
}

.alert-info {
  color: $info;
  background-color: rgba($info, 0.2);
  border-color: rgba($info, 0.2);
  .alert-link {
    color: darken($info,10%);
  }
  hr {
    border-top-color: darken($info,10%);
  }
}

.alert-warning {
  color: $warning;
  background-color: rgba($warning, 0.2);
  border-color: rgba($warning, 0.2);
  .alert-link {
    color: darken($warning, 10%);
  }
  hr {
    border-top-color: darken($warning, 10%);
  }
}

.alert-danger {
  color: $danger;
  background-color: rgba($danger, 0.2);
  border-color: rgba($danger, 0.2);
  .alert-link {
    color: darken($danger,10%);
  }
  hr {
    border-top-color: darken($danger,10%);
  }
}

.alert-white {
  background-color: lighten($dark, 4%) !important;
}