

/* =============
   Bootstrap-custom
============= */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0;

  a{
    color: $muted;
  }
}
.media {
  margin-top: 25px;
  &:first-child {
    margin-top: 0;
}
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: $muted;
  content: "/\00a0";
}

/* Dropdown */
.dropdown-menu {
  padding: 4px 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  border: 1px solid rgba($muted, 0.15);
  background-color: $dark;
  & > li {
    & > a {
      padding: 7px 20px;
      font-size: $font-size-base;
    }
  }
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,  .dropdown-menu>li>a:active,  .dropdown-menu>li>a.active {
  background-color: lighten($dark, 4%) !important;
  color: $light;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: lighten($dark, 4%) !important;
}

.dropdown-lg {
  width: 260px;
}

.dropdown-item{
  color: $muted;
}

.dropdown-divider{
  border-color: lighten($dark, 4%);
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid lighten($dark, 4%);
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid lighten($dark, 4%);
  text-align: right;
}

// custom - checkbox

.custom-control-input{
  &:checked~.custom-control-label{
    &:before {
      border-color: $custom;
      background-color: $custom;
    }
  }
}

.custom-control-label{
  &::before{
    background-color: lighten($dark, 4%);
    border-color: lighten($dark, 4%);
  }
}

/* Background colors */
.bg-custom {
  background-color: $custom !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-muted {
  background-color: $light7 !important;
}

.bg-inverse {
  background-color: $inverse !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-pink {
  background-color: $pink !important;
}

.bg-white {
  background-color: $dark !important;
}

.bg-dark {
  background-color: $white !important;
}


/* Text colors */
.text-custom {
  color: $custom !important;
}

.text-white {
  color: $white !important;
}

.text-danger {
  color: $danger !important;
}

.text-muted {
  color: $muted !important;
}

.text-primary {
  color: $primary !important;
}

.text-warning {
  color: $warning !important;
}

.text-success {
  color: $success !important;
}

.text-info {
  color: $info !important;
}

.text-inverse {
  color: $inverse !important;
}

.text-pink {
  color: $pink !important;
}

.text-purple {
  color: $purple !important;
}

.text-dark {
  color: $light !important;
}

a{
  &.text-dark{
    &:focus, &:hover{
      color: $light !important;
    }
  }
}

/* Badge */
.badge {
  background-color: $custom;
  font-family: $font-secondary;
  color: $white;
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 600;
}

.badge-xs {
  font-size: 9px;
}

.badge-xs, .badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.badge-white {
  background-color: rgba($white, 0.7);
  color: $dark !important;
}

.badge-primary {
  background-color: $primary;
}

.badge-success {
  background-color: $success;
}

.badge-info {
  background-color: $info;
}

.badge-warning {
  background-color: $warning;
}

.badge-danger {
  background-color: $danger;
}

.badge-purple {
  background-color: $purple;
}

.badge-pink {
  background-color: $pink;
}

.badge-inverse {
  background-color: $inverse;
}

/******* hr *******/

hr{
  border-color: rgba($white, 0.1);
}

/******* spinner *******/

.spinner-border, .spinner-grow {
  margin-right: 10px;
  margin-top: 10px;
}

/******* carousel *******/
.carousel-control {
  width: 10%;

  span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 30px;
  }
}

/******* Pagination *******/

.pagination{
  .page-item{
    .page-link{
      color: $muted;
      background-color: $dark;
      border-color: lighten($dark, 4%);
    }
    &.active {
      .page-link{
        background: $custom;
        border-color: $custom;
        color: $light;
      }
    }
  }
}

.pagination-split {
  .page-item {
    margin-left: 5px;
    float: left;
  }
  .page-link{
    border-radius: 3px;
  }
}

/******* list-group *******/

.list-group-item{
  color: $muted;
  background-color: $dark;
  border-color: lighten($dark, 4%);
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover, .list-group-item:hover{
  background: lighten($dark, 4%) ;
  color: $light;
}

.list-group-item.active, .list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: $custom;
  border-color: $custom;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: rgba($white, 0.7);
}


.border {
  border-color: $dark!important;
}