

/* =============
   Buttons
============= */
.btn {
  border-radius: 2px;
  font-size: $font-size-base;
  padding: 7px 14px;
  outline: none !important;
  font-family: $font-secondary;
}

.btn-md {
  padding: 9px 18px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 12px 20px !important;
  font-size: 16px;
}
.btn-group-sm>.btn, .btn-sm {
  padding: 5px 10px !important;
  font-size: 13px;
}
.btn-group-xs>.btn, .btn-xs {
  padding: 1px 5px !important;
  font-size: 12px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,.1) inset;
  box-shadow: 0 0 0 100px rgba(0,0,0,.1) inset;
}
.btn-custom,.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-inverse, .btn-purple, .btn-pink{
  color: $white !important;
}

.btn-custom {
  background-color: $custom;
  border-color: $custom;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active,
.btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover,
.open > .dropdown-toggle.btn-custom  {
  background-color: darken($custom, 5%) !important;
  border: 1px solid darken($custom, 5%) !important;
}

.btn-primary{
  background-color: $primary !important;
  border: 1px solid $primary !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary  {
  background-color: darken($primary, 5%) !important;
  border-color: darken($primary, 5%) !important;
}

.btn-success {
  background-color: $success !important;
  border: 1px solid $success !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
  background-color: darken($success, 5%) !important;
  border-color: darken($success, 5%) !important;
}

.btn-info {
  background-color: $info !important;
  border: 1px solid $info !important;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
  background-color: darken($info, 5%) !important;
  border-color: darken($info, 5%) !important;
}

.btn-warning {
  background-color: $warning !important;
  border: 1px solid $warning !important;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning {
  background-color: darken($warning, 5%) !important;
  border-color: darken($warning, 5%) !important;
}

.btn-danger {
  background-color: $danger !important;
  border: 1px solid $danger !important;
}
.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
  background-color: darken($danger, 5%) !important;
  border-color: darken($danger, 5%) !important;
}

.btn-inverse {
  background-color: $inverse !important;
  border: 1px solid $inverse !important;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open > .dropdown-toggle.btn-inverse {
  background-color: darken($inverse, 5%) !important;
  border-color: darken($inverse, 5%) !important;
}

.btn-purple {
  background-color: $purple !important;
  border: 1px solid $purple !important;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background-color: darken($purple, 5%) !important;
  border-color: darken($purple, 5%) !important;
}

.btn-pink {
  background-color: $pink !important;
  border: 1px solid $pink !important;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
  background-color: darken($pink, 5%) !important;
  border-color: darken($pink, 5%) !important;
}

.btn-bordered {
  background-color: transparent !important;
}

.btn-bordered.btn-light {
  border: 2px solid rgba($light, 0.7) !important;
  color: $light;
  &:hover,&:focus,&:active {
    background-color: $light !important;
    color: $dark !important;
    border: 2px solid darken($light, 7%) !important;
  }
}
.btn-bordered.btn-custom {
  color: $custom !important;
  border: 2px solid $custom !important;

  &:hover,&:focus,&:active {
    background-color: $custom;
    color: $white !important;
    border: 2px solid darken($custom, 7%) !important;
  }
}

.btn-bordered.btn-primary {
  color: $primary !important;
  border: 2px solid $primary !important;

  &:hover,&:focus,&:active {
    background-color: $primary;
    color: $white !important;
    border: 2px solid darken($primary, 7%) !important;
  }
}

.btn-bordered.btn-success {
  color: $success !important;
  border: 2px solid $success !important;

  &:hover,&:focus,&:active {
    background-color: $success;
    color: $white !important;
    border: 2px solid darken($success, 7%) !important;
  }
}

.btn-bordered.btn-info {
  color: $info !important;
  border: 2px solid $info !important;

  &:hover,&:focus,&:active {
    background-color: $info;
    color: $white !important;
    border: 2px solid darken($info, 7%) !important;
  }
}

.btn-bordered.btn-warning {
  color: $warning !important;
  border: 2px solid $warning !important;

  &:hover,&:focus,&:active {
    background-color: $warning;
    color: $white !important;
    border: 2px solid darken($warning, 7%) !important;
  }
}

.btn-bordered.btn-danger {
  color: $danger !important;
  border: 2px solid $danger !important;

  &:hover,&:focus,&:active {
    background-color: $danger;
    color: $white !important;
    border: 2px solid darken($danger, 7%) !important;
  }
}

.btn-bordered.btn-inverse {
  color: $inverse !important;
  border: 2px solid $inverse !important;

  &:hover,&:focus,&:active {
    background-color: $inverse;
    color: $white !important;
    border: 2px solid darken($inverse, 7%) !important;
  }
}

.btn-bordered.btn-purple {
  color: $purple !important;
  border: 2px solid $purple !important;

  &:hover,&:focus,&:active {
    background-color: $purple;
    color: $white !important;
    border: 2px solid darken($purple, 7%) !important;
  }
}

.btn-bordered.btn-pink {
  color: $pink !important;
  border: 2px solid $pink !important;

  &:hover,&:focus,&:active {
    background-color: $pink;
    color: $white !important;
    border: 2px solid darken($pink, 7%) !important;
  }
}

.btn-rounded {
  border-radius: 2em;
}

/* Social Buttons */
.btn-facebook {
  color: $white !important;
  background-color: #3b5998 !important;
}
.btn-twitter {
  color: $white !important;
  background-color: #00aced !important;
}
.btn-linkedin {
  color: $white !important;
  background-color: #007bb6 !important;
}
.btn-dribbble {
  color: $white !important;
  background-color: #ea4c89 !important;
}
.btn-googleplus {
  color: $white !important;
  background-color: #dd4b39 !important;
}
.btn-instagram {
  color: $white !important;
  background-color: #517fa4 !important;
}
.btn-pinterest {
  color: $white !important;
  background-color: #cb2027 !important;
}
.btn-dropbox {
  color: $white !important;
  background-color: #007ee5 !important;
}
.btn-flickr {
  color: $white !important;
  background-color: #ff0084 !important;
}
.btn-tumblr {
  color: $white !important;
  background-color: #32506d !important;
}
.btn-skype {
  color: $white !important;
  background-color: #00aff0 !important;
}
.btn-youtube {
  color: $white !important;
  background-color: #bb0000 !important;
}
.btn-github {
  color: $white !important;
  background-color: #171515 !important;
}