

/* =============
   Form Editor
============= */

/* Summernote */
.note-editor {
  position: relative;
  margin-bottom: 0px;

  &.note-frame, .note-statusbar {
    border-color: lighten($dark,4%) !important;
  }
  .note-toolbar, .note-resizebar{
    background-color: lighten($dark, 4%) !important;
  }

  .note-toolbar {
    margin: 0;
  }
  .note-statusbar {
    background-color: $white;
    .note-resizebar {
      border-top: none;
      height: 15px;
      padding-top: 3px;
    }
  }
  .note-editable{
    background-color: $dark !important;
  }
}

.note-popover {
  .popover {
    .popover-content {
      padding: 5px 0 10px 5px;
    }
  }

  .btn-default {
    background-color: transparent;
    border-color: transparent !important;
  }
  .btn-group-sm > .btn, .btn-sm {
    padding: 8px 12px !important;
  }
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}



/* Wysiwig css */

.mce-panel {
  border: 1px solid lighten($dark, 4%) !important;
  background-color: lighten($dark, 4%) !important;
  .mce-menubar{
    border: 1px solid lighten($dark, 8%);
  }
}
.mce-menu {
  background-color: $white !important;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.mce-menubar .mce-menubtn:hover, .mce-menubar .mce-menubtn.mce-active, .mce-menubar .mce-menubtn:focus {
  background-color: lighten($dark, 8%) !important;
  border-color: lighten($dark, 10%) !important;
}
.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus,.mce-menu-item-normal.mce-active,
.mce-primary{
  background-color: $custom !important;
}
.mce-window-head .mce-title {
  font-family: $font-secondary;
}
.mce-window {
  padding: 20px !important;
}
.mce-window-head {
  padding-bottom: 20px !important;
  border-bottom: 0 !important;
}

.mce-btn {
  background-color: transparent !important;
  border-radius: 3px;
  color: $white !important;
  &:hover{
    background-color: lighten($dark, 8%) !important;
    border-color: lighten($dark, 10%) !important;
  }
}

.mce-menubtn button,.mce-btn button {
  color: $white !important;

  span,i {
    color: $white !important;
  }
}

.mce-caret{
  border-top-color: $light !important;
}

.mce-path-item, .mce-label{
  color: $light !important;
}

.mce-btn-group:not(:first-child) {
  border-left: 1px solid lighten($dark, 10%) !important;
}