
/* =============
   Form Wizard
============= */

.wizard > .content {
  background: $dark;
  min-height: 240px;
  padding: 20px !important;
  border: 1px solid lighten($dark, 4%);
  margin-top: 10px !important;
}

.wizard > .content > .body {
  padding: 0px;
  position: relative;
  width: 100%;

  input {
    border: 1px solid lighten($dark,6%);
  }

  ul > li {
    display: block;
    line-height: 30px;
  }
  label.error {
    color: $danger;
    margin-left: 0;
    margin-top: 5px;
    font-size: 12px;
  }
  label {
    display: inline-block;
    margin-top: 10px;
  }
}

.wizard > .steps {

  a{
    font-size: 16px;
    text-align: center;
    font-family: $font-secondary;
  }

  .number {
    font-size: 74px;
    line-height: 86px;
    font-family: $font-secondary;
    position: absolute;
    left: 10px;
    top: -14px;
    opacity: 0.1;
  }

  .disabled {
    a {
      background: lighten($dark, 4%);
      color: $light !important;
      cursor: default;
      border: 1px solid lighten($dark, 6%);
      &:hover, &:active {
        background: lighten($dark, 5%);
        border: 1px solid lighten($dark, 6%);
      }
    }
  }
  .current {
    a {
      background: $custom;
      &:hover, &:active {
        background: $custom;
        .number {
          color: $white;
          opacity: 0.4;
        }
      }
      .number {
        color: $white;
        opacity: 0.4;
      }
    }
  }
  .done {
    a {
      background: lighten($dark, 4%) !important;
      color: lighten($dark, 6%) !important;
      color: $light !important;
    }
  }
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active, .wizard > .content {
  border-radius: 2px;
  position: relative;
}

.wizard > .actions {
  margin-top: 15px !important;

  a {
    background: $custom;
    border-radius: 2px !important;
    color: $white;

    &:hover, &:active {
      background: darken($custom,15%);
      color: $white;
    }
  }
  .disabled {
    a {
      background: $white;
      color: $dark;
      cursor: default;
      border: 1px solid #eaeaea;

      &:hover, &:active {
        background: $light3;
        color: $dark;
        cursor: default;
        border: 1px solid #eaeaea;
      }
    }
  }
}

.wizard.vertical > .content {
  margin-top: 0px !important;
}

@media (max-width: 560px) {
  .wizard.vertical > .steps,.wizard.vertical > .content {
    width: 100%;
  }
}