
/* =============
   Menu
============= */

.logo {
  float: left;
}

.wrapper {
  padding-top: 134px;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 62px;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
  .has-submenu.active {
      a {
          color: $custom;
          i {
              color: $custom;
          }
      }
      .submenu {
          li.active > a {
              color: $custom;
          }
      }
  }
  .topbar-main {
      background-color: $bg-topbar;
      padding: 0px;
      /* Search */
      .navbar-right {
          float: right;
          .app-search {
              position: relative;
              a {
                  position: absolute;
                  top: 7px;
                  right: 26px;
                  color: rgba($white, 0.7);
                  &:hover {
                      color: $white;
                  }
              }
              .form-control,
              .form-control:focus {
                  border: 1px solid rgba($white, 0.1);
                  font-size: 13px;
                  height: 34px;
                  color: $white;
                  padding: 7px 40px 7px 20px;
                  margin: 19px 15px 0 5px;
                  background: rgba($white, 0.04);
                  box-shadow: none;
                  border-radius: 30px;
                  width: 190px;
              }
          }
          .app-search input::-webkit-input-placeholder {
              color: rgba($white, 0.5);
          }
          .app-search input:-moz-placeholder {
              color: rgba($white, 0.5);
          }
          .app-search input::-moz-placeholder {
              color: rgba($white, 0.5);
          }
          .app-search input:-ms-input-placeholder {
              color: rgba($white, 0.5);
          }
          .dropdown-toggle{
            &:after{
              display: none;
            }
          }
          .right-menu-item {
              padding: 0px 10px;
              line-height: 65px;
              text-align: center;
              background-color: transparent !important;
              color: rgba($white, 0.7);
              display: inline-block;
              position: relative;
              > i {
                  font-size: 22px;
                  vertical-align: -webkit-baseline-middle;
              }
              .badge {
                  position: absolute;
                  top: 14px;
                  right: 6px;
              }
          }
          // Notification
          .notify-list {
            padding: 10px;
          }
          .notification-list {
            height: 240px;

            .list-group-item {
              border: 0;
              border-radius: 0 !important;
              padding: 10px 15px;

              &:first-of-type {
                border-top: 0;
              }
            }

            em {
              width: 36px;
              color: $white;
              text-align: center;
              height: 36px;
              line-height: 36px;
              border-radius: 50%;
              margin-top: 2px;
              font-size: 16px;
            }

            .media-left {
              float: left;
              display: inherit;
            }

            .media-body {
              display: block;
              width: auto;
              overflow: hidden;
              margin-left: 16px;

              h5 {
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                width: 100%;
                margin: 0;
                overflow: hidden;
                line-height: 20px;
                font-size: 13px;
                font-weight: 600;
              }
              p {
                font-size: 13px;
                line-height: 20px;
                color: $muted;
              }
            }
          }

          .notifi-title {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
            padding: 11px 20px 15px;
            color: $dark;
          }
          .user-box {
              a.user-link {
                  padding: 17px 10px;
                  display: block;
              }
              .user-img {
                  position: relative;
                  height: 36px;
                  width: 36px;
                  margin: 0 auto;
              }
          }
      }
  }
  .navbar-custom {
      background-color: $dark;
      display: flex;
  }
  .menu-item {
      display: flex;
  }
  .navbar-toggle {
      border: 0;
      position: relative;
      width: 60px;
      height: 60px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      .lines {
          width: 25px;
          display: block;
          position: relative;
          margin: 23px auto 17px auto;
          height: 18px;
      }
      span {
          height: 2px;
          width: 100%;
          background-color: $white;
          display: block;
          margin-bottom: 5px;
          -webkit-transition: -webkit-transform .5s ease;
          transition: -webkit-transform .5s ease;
          transition: transform .5s ease;
      }
  }
  .navbar-toggle.open {
      span {
          position: absolute;
          &:first-child {
              top: 6px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
          }
          &:nth-child(2) {
              visibility: hidden;
          }
          &:last-child {
              width: 100%;
              top: 6px;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
          }
      }
  }
  .navigation-menu {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .navigation-menu > li {
      float: left;
      display: block;
      position: relative;
  }
  .navigation-menu > li > a {
      display: block;
      color: $muted;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      line-height: 20px;
      padding-left: 25px;
      padding-right: 25px;
      &:hover {
          color: $custom;
          i {
              color: $custom;
          }
      }
      &:focus {
          color: $custom;
          i {
              color: $custom;
          }
      }
      &:active {
          color: $custom;
          i {
              color: $custom;
          }
      }
      i {
          font-size: 18px;
          margin-right: 5px;
          color: rgba($muted, 0.8);
      }
  }
  .navigation-menu > li > a:hover,
  .navigation-menu > li > a:focus {
      background-color: transparent;
  }
}

@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
      padding-top: 22px;
      padding-bottom: 22px;
  }
}


/*
Responsive Menu
*/

@media (min-width: 992px) {
  #topnav {
      .navigation-menu > li.last-elements .submenu {
          left: auto;
          right: 0;
      }
      .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
          left: auto;
          right: 100%;
          margin-left: 0;
          margin-right: 10px;
      }
      .navigation-menu > li {
          &:first-of-type {
              a {
                  padding-left: 0px;
              }
          }
      }
      .navigation-menu > li:hover a {
          color: $custom;
          i {
              color: $custom;
          }
      }
      .navigation-menu > li .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          border: 1px solid lighten($dark, 4%);
          padding: 15px 0;
          list-style: none;
          min-width: 200px;
          visibility: hidden;
          opacity: 0;
          margin-top: 10px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          background-color: $dark;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      }
      .navigation-menu > li .submenu.megamenu {
          white-space: nowrap;
          width: auto;
      }
      .navigation-menu > li .submenu.megamenu > li {
          overflow: hidden;
          width: 200px;
          display: inline-block;
          vertical-align: top;
      }
      .navigation-menu > li .submenu > li.has-submenu > a:after {
          content: "\F142";
          font-family: "Material Design Icons";
          position: absolute;
          right: 20px;
          font-size: 18px;
      }
      .navigation-menu > li .submenu > li .submenu {
          left: 100%;
          top: 0;
          margin-left: 10px;
          margin-top: -1px;
      }
      .navigation-menu > li .submenu li {
          position: relative;
      }
      .navigation-menu > li .submenu li ul {
          list-style: none;
          padding-left: 0;
          margin: 0;
      }
      .navigation-menu > li .submenu li a {
          display: block;
          padding: 8px 25px;
          clear: both;
          white-space: nowrap;
          color: $muted;
          font-size: 13px;
      }
      .navigation-menu > li .submenu li a:hover {
          color: $custom;
      }
      .navigation-menu > li .submenu li span {
          display: block;
          padding: 8px 25px;
          clear: both;
          line-height: 1.42857143;
          white-space: nowrap;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          color: #949ba1;
      }
      .navbar-toggle {
          display: none;
      }
  }
  #topnav #navigation {
      display: block !important;
  }
}

@media (max-width: 991px) {
  .page-title {
      margin-top: 0px;
      padding-top: 5px;
  }
  .wrapper {
    padding-top: 60px;
  }
  .container {
      width: auto;
  }
  #topnav {
      box-shadow: none;
      .topbar-main{
        background-color: $dark;
      }
      .navigation-menu {
          float: none;
          max-height: 400px;
      }
      .navigation-menu > li {
          float: none;
      }
      .navigation-menu > li > a {
          color: $muted;
          padding: 15px;
          i {
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 0px;
          }
      }
      .navigation-menu > li > a:after {
          position: absolute;
          right: 15px;
      }
      .navigation-menu > li .submenu {
          display: none;
          list-style: none;
          padding-left: 20px;
          margin: 0;
      }
      .navigation-menu > li .submenu li a {
          display: block;
          position: relative;
          padding: 7px 20px;
          color: $muted;
      }
      .navigation-menu > li .submenu li a:hover {
          color: $primary;
      }
      .navigation-menu > li .submenu li.has-submenu > a:after {
          content: "\F140";
          font-family: "Material Design Icons";
          position: absolute;
          right: 30px;
          font-size: 16px;
      }
      .navigation-menu > li .submenu.open {
          display: block;
      }
      .navigation-menu > li .submenu .submenu {
          display: none;
          list-style: none;
      }
      .navigation-menu > li .submenu .submenu.open {
          display: block;
      }
      .navigation-menu > li .submenu.megamenu > li > ul {
          list-style: none;
          padding-left: 0;
      }
      .navigation-menu > li .submenu.megamenu > li > ul > li > span {
          display: block;
          position: relative;
          padding: 15px;
          text-transform: uppercase;
          font-size: 11px;
          letter-spacing: 2px;
      }
      .navigation-menu > li.has-submenu.open > a {
          color: $custom;
      }
      .navbar-header {
          float: left;
      }
      
  }

  #navigation {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      display: none;
      height: auto;
      padding-bottom: 0;
      overflow: auto;
      border-top: 1px solid lighten($dark, 4%);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      background-color: $dark;
  }
  #navigation.open {
      display: block;
      overflow-y: auto;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
  }
  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
      visibility: visible;
      opacity: 1;
      margin-left: 0;
      margin-right: 0;
  }
  .navbar-toggle {
      display: block;
  }
}

/* page title */

.page-title-box{
    padding: 25px 0px;
}

.page-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
  }

/* Footer */

.footer {
  background-color: lighten($dark,2%);
  bottom: 0px;
  color: $muted;
  text-align: left !important;
  padding: 20px 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  ul {
      li {
          padding-left: 10px;
          padding-right: 10px;
          a {
              color: $muted;
              &:hover {
                  color: $primary;
              }
          }
      }
  }
}