

/* =============
   Modals
============= */

.modal {
  .modal-dialog {
    .modal-content {
      background-color: $dark;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-color: lighten($dark, 4%);
      border-radius: 2px;
      box-shadow: none;
      padding: 16px;
      .modal-header {
        border-bottom-width: 2px;
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        border-color: lighten($dark, 4%);
        .close {
          color: $light;
        }
      }
      .modal-body {
        padding: 20px 0;
      }
      .modal-footer {
        padding: 0;
        padding-top: 15px;
        border-color: lighten($dark, 4%);
      }
    }
  }
}

.modal-full {
  width: 95%;
  max-width: none;
}

.modal-content {
  .nav.nav-tabs + .tab-content {
    margin-bottom: 0;
  }
  .panel-group {
    margin-bottom: 0;
  }
  .panel {
    border-top: none;
  }
}

/* Custom-modal */

.modal-demo {
  background-color: $dark;
  width: 600px;
  border-radius: 4px;
  display: none;
  position: relative;

  .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: $light;
    font-weight: 400;
  }
}

.custom-modal-title {
  padding: 15px 25px 15px 25px;
  line-height: 22px;
  font-size: 18px;
  background-color: $custom;
  color: $white;
  text-align: left;
  margin: 0;
}

.custom-modal-text {
  padding: 20px;
}

.custombox-modal-flash, .custombox-modal-rotatedown {
  .close {
    top: 20px;
    z-index: 9999;
  }
}