
/* =============
   Tablesaw
============= */

.tablesaw {
  thead {
    background: lighten($dark, 4%);
    background-image: none;
    border: none;

    th {
      text-shadow: none;
      letter-spacing: 0.06em;
    }

    tr:first-child th {
      font-weight: 600;
      border: none;
      font-family: $font-secondary;
    }
  }
  td {
    border-top: 1px solid lighten($dark, 4%) !important;
  }
}

.tablesaw td, .tablesaw tbody th {
  font-size: inherit;
  line-height: inherit;
  padding: 10px !important;
}
.tablesaw-stack tbody tr ,.tablesaw tbody tr{
  border-bottom: none;
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after, .tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  font-family: FontAwesome;
  font-size: 10px;
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after {
  content: "\f176";
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  content: "\f175";
}
.tablesaw-bar .btn-select.btn-small:after, .tablesaw-bar .btn-select.btn-micro:after {
  font-size: 8px;
  padding-right: 10px;
}
.tablesaw-swipe .tablesaw-cell-persist {
  box-shadow: none;
}
.tablesaw-enhanced .tablesaw-bar .btn {
  text-shadow: none;
  background-image: none;
}
.tablesaw-enhanced .tablesaw-bar .btn.btn-select {
  &:hover {
    background: $white;
  }
}
.tablesaw-enhanced .tablesaw-bar .btn:hover, .tablesaw-enhanced .tablesaw-bar .btn:focus,.tablesaw-enhanced .tablesaw-bar .btn:active {
  color: $custom !important;
  background-color: $dark;
  outline: none !important;
  box-shadow: none !important;
  background-image: none;
}

.tablesaw-columntoggle-popup {
  background-color: lighten($dark, 4%) !important;
  border-color: lighten($dark, 6%) !important;
  box-shadow: none !important;
  .btn-group {
    display: block;
  }
}

.tablesaw-enhanced {
  .tablesaw-bar {
    .btn {
      text-transform: none;
      border: 1px solid lighten($dark, 6%);
      &.btn-select {
        &:hover {
          background: lighten($dark, 4%);
        }
      }
    }
  }
}
.tablesaw-btn-select{
  padding-right: 2.5em;
  min-width: 7.25em;
  text-align: left;
  color: $light;
  &:after{
    right: 7px;
    top: 4px;
  }
}

.tablesaw-advance {
  a.tablesaw-nav-btn{
    width: 2.2em;
  }
}