<template>
    <div aria-live="polite" aria-atomic="true" class="toast-container">
        <div :class="['alert', `alert-${toast.type}`, 'alert-dismissible', 'fade', 'show']" v-for="(toast, key) in toasts" :data-title="toast.title" :key="`toast_${key}`" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ toast.message }}
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            toasts: [],
        }
    },
    mounted() {
        this.Subscriptions();
    },
    methods: {
        Subscriptions(){
            this.$store.subscribe((mutation, state) => {
                if(mutation.type === `setToast`) {
                    const newToast = this.$store.getters.lastToast;
                    this.toasts.unshift(newToast);
                }
            });
        }
    },
    updated() {
        this.$nextTick(() => {
            setTimeout(() => {
                let $el = document.querySelector(`[data-title="${this.toasts[0].title}"]`);
                $el.parentNode.removeChild($el);
            }, 15000);
        });
    }
}
</script>

<style lang="scss" scoped>
.toast-container{
    position: absolute;
    right: 0;
    top: 7px;
}
.alert{
    z-index: 10;
}
</style>
