<template>
    <section class="activation-sections">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title m-t-0 m-b-30">Información General</h4>
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="company-tab" data-toggle="tab" href="#company-info" role="tab" aria-controls="company-info" aria-selected="true">
                                    <span class="d-block d-sm-none"><i class="fas fa-building"></i></span>
                                    <span class="d-none d-sm-block">Empresa</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="questionary-tab" data-toggle="tab" href="#questionary-info" role="tab" aria-controls="questionary-info" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fas fa-question-circle"></i></span>
                                    <span class="d-none d-sm-block">Cuestionario</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane show active" id="company-info" role="tabpanel" aria-labelledby="company-tab" v-if="activationSections.company">
                                <p class="mb-0">
                                    {{ activationSections.company.name }}
                                </p>
                                <p class="mb-0"><strong>Nit:</strong> {{ activationSections.company.nit }}</p>
                            </div>
                            <div class="tab-pane" id="questionary-info" role="tabpanel" aria-labelledby="questionary-tab">
                                <p class="mb-0">
                                    <strong>Encuesta:</strong> {{ activationSections.name }}
                                </p>
                                <p class="mb-0">
                                    <strong>Detalle:</strong> {{ activationSections.detail }}
                                </p>
                                <p class="mb-0">
                                    <strong>Fechas de encuesta:</strong> {{ formatDate(activationSections.starts_at) }} hasta {{ formatDate(activationSections.ends_at) }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>

        <div class="row" v-for="(section, index) in activationSections.sections" :key="`section_${index}`">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <div class="card">
                    <div class="card-body" @click.prevent="SetFocusWorkarea">
                        <h3 class="card-title text-white mb-0" data-editable>
                            <span class="section-data" @keyup.enter.prevent="SaveAttributeSection({el: $event, index, attribute: `title`, action: `enter`})">{{ section.title }}</span>
                            <span class="section-actions">
                                <i class="fas fa-save" @click.prevent="SaveAttributeSection({el: $event, index, attribute: `title`})"></i>
                                <i class="fas fa-edit" @click.prevent="EditAttributeSection"></i>
                            </span>
                        </h3>
                        <p class="card-sub-title mb-0" data-editable>
                            <span class="section-data" @keyup.enter.prevent="SaveAttributeSection({el: $event, index, attribute: `subtitle`, action: `enter`})">{{ section.subtitle }}</span>
                            <span class="section-actions">
                                <i class="fas fa-save" @click.prevent="SaveAttributeSection({el: $event, index, attribute: `subtitle`})"></i>
                                <i class="fas fa-edit" @click.prevent="EditAttributeSection"></i>
                                <i class="fas fa-trash" @click.prevent="DeleteAttributeSection({index, attribute: `subtitle`})"></i>
                            </span>
                        </p>
                        <p class="mb-0" data-editable>
                            <span class="section-data" @keyup.enter.prevent="SaveAttributeSection({el: $event, index, attribute: `description`, action: `enter`})">{{ section.description }}</span>
                            <span class="section-actions">
                                <i class="fas fa-save" @click.prevent="SaveAttributeSection({el: $event, index, attribute: `description`})"></i>
                                <i class="fas fa-edit" @click.prevent="EditAttributeSection"></i>
                                <i class="fas fa-trash" @click.prevent="DeleteAttributeSection({index, attribute: `description`})"></i>
                            </span>
                        </p>

                        <activation-questions :key="`section_questions_${index}`" :sectionIndex="index" :questions="section.questions"></activation-questions>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { EventBus } from "../../libs/EventBus";
import { FormatDate, CleanContentEditable } from "../../libs/misc";

export default {
    props: {
        activation: Object,
    },
    mounted() {
        this.listenEvents();
        this.loadActivation();
        this.checkActivationSections();
    },    
    computed: {
        activationSections() {
            return this.$store.getters.activationSections;
        },
    },
    methods: {
        listenEvents() {
            EventBus.$on(`questionTypeSelected`, questionType => {

            });
        },

        loadActivation() {
            this.$store.dispatch(`setActivationSections`, {activationSections: this.activation});
        },

        /**
         * Checks if the Activation already have sections if not, create basic template
         */
        checkActivationSections() {
            if(this.$store.getters.activationSections.sections.length === 0) { // default first section
                this.$store.dispatch(`addNewSection`, {
                    company_activation_id: 1, //TODO change value depending on URL
                });
            }            
        },

        /**
         * Returns formatted date taken from misc lib
         */
        formatDate(date) {
            return FormatDate(date);
        },

        SetFocusWorkarea(el){
            const $focusElements = Array.from(document.querySelectorAll(`[data-focus]`));
            $focusElements.forEach( el => {
                el.setAttribute('data-focus', false);
            });
            el.currentTarget.setAttribute('data-focus', 'current');
        },

        /**
         * Focus and make editable the necesary field
         */
        EditAttributeSection(el) { 
            el.preventDefault();
            el.stopPropagation();
            const $editNode = el.currentTarget.parentNode.parentNode;
            const $editAttr = $editNode.querySelector('.section-data');
            $editNode.setAttribute('data-editable', 'current');
            $editAttr.setAttribute('contenteditable', 'true');
            $editAttr.focus();
        },

        /**
         * edit/save an attribute in section
         * @param int index
         * @param string attribute
         */
        SaveAttributeSection({el, index, attribute, action = `save`}) { 
            const $editNode = action === `save` ? el.currentTarget.parentNode.parentNode : el.currentTarget.parentNode;
            const $editAttr = action === `save` ? $editNode.querySelector('.section-data') : el.currentTarget;
            $editNode.setAttribute('data-editable', '');
            $editAttr.setAttribute('contenteditable', 'false');
            const value = CleanContentEditable($editAttr.innerText);
            this.$store.dispatch(`editSectionAttribute`, {index, attribute, value});
            $editAttr.innerText = value;
        },

        /**
         * Delete an attribute in section
         * @param int index
         * @param string attribute
         */
        DeleteAttributeSection({index, attribute}) { 
            this.$store.dispatch(`deleteSectionAttribute`, {index, attribute});
        },
    },
}
</script>
<style lang="scss" scoped>
    .activation-sections{
        padding-top: 1em;

        .tab-pane{
            strong {
                text-decoration: underline;
            }
        }

        [data-focus="current"] {
            border: 1px dashed #f7531f;
        }

        [contenteditable="true"] {
            border-bottom: 1px dotted;
            text-decoration: none;
        }

        [data-editable] {

            .section-actions {
                margin-left: 2px;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s ease;
                visibility: hidden;
                i {
                    cursor: pointer;
                    padding: 0 5px;
                    transition: font 0.2s ease;
                    
                    &:hover {
                        font-size: 1.1em;
                    }
                    
                    &.fa-save{
                        display: none;
                    }
                }
            }


            &:hover {
                .section-actions {
                    visibility: visible;
                    opacity: 1;
                }
            }
            
        }

        [data-editable="current"] {
            .section-actions {
                visibility: visible;
                opacity: 1;

                i {
                    display: none;
                    &.fa-save {
                        display: inline-block;
                    }
                }
            }
        }
    }
</style>


