<template>
    <form class="section-questions">
        <div class="card" v-for="(question, index) in dataQuestions" :key="`section_${sectionIndex}_question_${index}`">
            <div class="card-body">
                <div class="form-group">
                    <label :for="`question_${question.id}`">{{ question.question }}</label>
                    <span v-html="QuestionHtml(question)"></span>
                    <span class="help-block"><small>{{ question.caption }}</small></span>
                </div>
            </div>
        </div>
    </form>
</template>
<script>
import Sortable from 'sortablejs';
import QuestionTypeController from '../../controllers/QuestionTypeController';

const questionTypeController = new QuestionTypeController;

export default {
    props: {
        questions: Array,
        sectionIndex: Number,
    },
    data() {
        return {
            dataQuestions: [],
        }
    },
    mounted() {
        this.dataQuestions = this.questions.sort( (a, b) => a.order > b.order ? 1 : a.order < b.order ? -1 : 0 );
    },
    methods: {
        QuestionHtml(question){
            return questionTypeController.generateField(question);
        }
    },
}
</script>

