<template>
    <section class="question-types">
        <ul class="question-types--list">
            <li class="question-types--item" v-for="(questionType, index) in questionTypes" :key="index">
                <a href="#" @click.prevent="SelectQuestionType(questionType)">
                    <i :class="`${questionType.css_class}`"></i>
                </a>
            </li>
        </ul>
    </section>
</template>
<script>
import { EventBus } from "../../libs/EventBus";

export default {
    data() {
        return {
            questionTypes: [],
        }
    },

    mounted() {
        this.initQuestionTypes();
    },

    methods: {
        async initQuestionTypes() {
            let { data } = await axios.get(_URL.get(`question-type.index`));
            this.questionTypes = data;
        },

        SelectQuestionType(questionType) {
            EventBus.$emit(`questionTypeSelected`, questionType);
        },
    },
}
</script>

<style lang="scss" scoped>

.question-types {
    background-color: #2f3948;
    border: 1px solid #98a6ad;
    margin-top: 1%;
    max-width: 39px;
    position: fixed;
    right: 1%;
    z-index: 1;

    &--list {
        list-style: none;
        margin: 0;
        padding: 12px;
    }

    &--item {
        margin: 5px 0;
        a {
            color: #98a6ad;
            transition: font 0.2s ease;
            &:hover {
                color: #b0d2e6;
                font-size: 2em;
            }
        }
    }
}

</style>


