/** DEV REMOVE IN PRODUCTION **/
body{
	&:before{
		background-color: red;
		content:"xs";
		font: 700 9px/16px Arial;
		height: 16px;
		left: 0;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: 16px;
		z-index: 9999999;
		color: #fff;

		@include break('sm'){ content:"sm"; background-color: blue;}
		@include break('md'){ content:"md"; background-color: green;}
		@include break('lg'){ content:"lg"; background-color: purple;}
	}
}
/** DEV REMOVE IN PRODUCTION **/