$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
//Breakpoints
@mixin break($class) {
	@if $class==xs {
		@media (min-width: map-get($grid-breakpoints, "xs" )) {
			@content;
		}
	}
	@else if $class==sm {
		@media (min-width: map-get($grid-breakpoints, "sm" )) {
			@content;
		}
	}
	@else if $class==tab {
		@media (min-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@else if $class==md {
		@media (min-width: map-get($grid-breakpoints, "md" )) {
			@content;
		}
	}
	@else if $class==lg {
		@media (min-width: map-get($grid-breakpoints, "lg" )) {
			@content;
		}
	}
	@else if $class==xlg {
		@media (min-width: 1600px) {
			@content;
		}
	}
	@else if  $class==land {
		@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 680px) {
			@content;
		}
	}
	@else {
		@media ($class) {
			@content;
		}
	}
}