$menu-width: 240px;
.navbar {
    .mobile-menu {
        a {
            padding: 22px 7px;
        }
    }
}

.side-menu {
    width: $menu-width;
    left: (- $menu-width);
    @include break(lg) {
        left: 0;
    }

    &.mobile-visible {
        left: 0;
    }

}