#app {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.content-page {
    margin-left: 0;

    @include break(lg) {
        margin-left: 240px;
    }
}

.footer {
    left: 0;

    @include break(lg) {
        left: 240px;
    }
}

.user-link {
    color: rgba(255, 255, 255, 0.7);
    height: 70px;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

.notification-list {
    height: auto;
}

.logo {
    img {
        height: 47px;
    }
}
